#board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  
  .dark {
    background-color: #443C36;
  }
  
  .light {
    background-color: #F0D9B5;
  }
  
  .piece {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
  }
  
  .red {
    background-color: red;
    color: aqua;
  }
  
  .black {
    background-color: black;
  }
  
  .king {
    border: 5px solid gold;
  }
  